# Secrets
backend/.env
backend/env
frontend/.env.local
frontend/env.local
.env
.env.local

# Dependências
**/node_modules/

# Build Next.js
frontend/.next/
frontend/out/

# Logs
*.log

# OS
.DS_Store
**/.DS_Store
